<script>
</script>

<main>
	<h1>write a note</h1>
	<!-- svelte-ignore a11y-autofocus -->
	<textarea placeholder="write here" autofocus></textarea>
</main>

<style>
	main {
		text-align: left;
		padding: 1em;
		max-width: 100%;
		margin: 0 auto;
	}

	h1 {
		color: #000000;
		text-transform: lowercase;
		font-size: 1.5em;
		font-weight: 150;
	}

	textarea {
		width: 100%;
		border: none;
		outline: none;
		overflow: auto;
		min-height: 500px;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	@media (max-width: 800px) {
		textarea {
			min-height: 350px;
		}
	}
</style>