{% if latest_notes %}
    <ul>
    {% for note in latest_notes %}
        <li><a href="/notes/{{ note.id }}">{{ note.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No notes.</p>
{% endif %}