{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="{% static 'notes/bundle.js' %}"></script>
    <link rel='stylesheet' href="{% static 'notes/bundle.css' %}">
    <link rel='stylesheet' href="{% static 'css/global.css' %}">
</head>

<body>
    <noscript>ah shucks. you should see a svelte component, 
not this message :/ enable javascript if you wanna use svelte</noscript>
</body>
</html>