<a href="/notes">notes</a>
{% if note %}
    <p>{{ note }}</p>
    <h3 id="note title">{{ note.title }}</h3>
    <p id="note body">{{ note.body }}</p>
    <p id="create-date">{{created}}</p>
{% else %}
    <p>Note {{ note.id }} Not Found</p>
{% endif %}